
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.menu{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}
.menu ul li span:hover{
    color: rgb(229, 91, 91);
    cursor: pointer;
}
